.fighter-preview___root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 400px;
  height: 30vh;
}

.fighter-preview___right {
  align-items: flex-end;
  transform: scaleX(-1);  
}

.fighter-preview___left {
  align-items: flex-end;
}

.fighter-preview___img img {
  height: auto;
}

.fighter-preview___root-statPanel {
  box-sizing: border-box;
  height:inherit;
  width: 200px;
  background-color: orange;
  padding: 10px;
}

.fighter-preview___statbar {
  margin-bottom: 15px;
}